html,
body {
  font-family: arial, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  background: #36454f;
  color: #ffffff;
}
@media screen and (max-width: 1000px) {
  /* TODO */
}

h1 {
  font-size: x-large;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
}

.row {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
}

.col {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.button {
  padding-bottom: 20px;
}

.round {
  padding-bottom: 15px;
  font-weight: 600;
  font-size: larger;
}

.score {
  padding-right: 5px;
  padding-bottom: 15px;
}

.main-game {
  justify-content: space-around;
  height: 30vh;
}

.footer {
  padding-top: 50px;
  flex-shrink: 1;
}
.rps-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #36454f;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #ffffff;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-weight: 600;
}

#previousRound {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
}

#currentRound {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.player-win-colour {
  color: rgb(167, 223, 32);
}

.computer-win-colour {
  color: rgb(223, 32, 56);
}

.tie-colour {
  color: rgb(255, 139, 57);
}

#outcome {
  font-size: larger;
  padding: 5px 0 5px 0;
}
